/* 모든 태그에 적용하고 싶을 때는 " * "를 해주면 된다. */
* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

html,
#root,
#root > div {
  height: 100%;
}

#header {
  height: 64px;

  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;

  /* display : flex;
      justify-content: center
      요렇게 해도 자식들이 가운데 정렬 됨. */

  /* border-botto을 그으면 양쪽 여백이 조금 남는 것을 볼 수 있다.
      이것은 바디 태그에 기본적으로 마진이 적용되어 있어서 그렇다.
      이럴 때는 바디태그에 마진&패딩을 없에야 한다. */
}

/* justify-content에 space-between은 양 끝으로 배치하라는 뜻 */
#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 하위에 속해있는 속성에 값을 주려면 ">"를 통해 타고타고 지정해줘도 된다. 아래처럼 */
/* 하위에 속해있는 태그 중 바로 밑이 아닌 더 깊이 있는 곳에 속성을 주려면 ">" 없이 아래처럼 입력해야 함 */
#header-area img {
  width: 128px;
  height: 36px;
}

#body {
  height: 100vh;
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 24px;
}

/* margin에 값을 0 과 auto로 넣으면 가운데 정렬이 된다. */

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
